*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    display: flex;
    column-gap: 30px;
    list-style: none;
  

}
    
.list1{
    background-color: pink;

}
.list2{
    background-color: aquamarine;

    
}






    
  
