*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.userItem {
   
    
    width:600px;
    padding: 50px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(73, 66, 66)
}
img{
    width: 150px;
    height: 150px;
}

.userItem{
    background-color: pink;
}
 
  
   
    


.user-li:not(.selected) {
   
    background-color: rgb(148, 201, 241); 
    background-color: rgb(148, 201, 241);
}
.header{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(73, 66, 66);
  font-size: 40px;

}
.list1{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 50px;
    gap: 20px;
    margin-right: 50px;

}
.js_btn-save{
    width:160px;
    padding: 10px;
    background-color:rgb(148, 201, 241); 
    border-radius: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(73, 66, 66)
}
.js_btn-recover{
    width:160px;
    padding: 10px;
    background-color:rgb(148, 201, 241); 
    border-radius: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(73, 66, 66)

}
.ulList{
    list-style: none;

}
